html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    width: 97%;
    max-width: 1300px;
    margin: 0 auto;
    float: none;
    background-color:red;
    /*background-color:white;*/
    /*text-align: center;*/

}
div img {/*para imagem fluida*/
    width: 100%;
    /*max-width: 273px;*/
}
.row::after{
    content: '';
    display: table;
    clear: both;
}
.col-2, .col-3, 
.col-4, .col-5, .col-5-6,
.col-6, .col-7,
.col-8, .col-9 {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    min-height: 1px;
    padding: 0.5em;
}

/*Cores de fundo*/
.col-2, .col-3{
    background-color: #29009c;
}
.col-4{
    background-color: #5769ff; 
}
.col-5{
    background-color: #818fff;
}
.col-5-6{
    background-color: #818fff;

}
.col-6{
    background-color: #bbc2fc;
}

.col-7{
    background-color: #b7d9ed;
}

.col-8{
    background-color: #212075;
}

.col-9{
    background-color: #1456ff;
}
/*fim das cores*/

/*Título principal*/
.main-title{
    text-align: center;
    padding: 1em;
}

.main-title h1{
    font-size: 3em;
}
/*Fim Título*/



/*h1----h6*/
h1{
    color: white;
    font-size: 35px;
}

h2{
    text-align: center;
    color: white;
    font-size: 2em;
}

h3{
    color: black;
    font-size: 30px;
    text-align: center;
}

h4{
    text-align: left;
    font-size: 25px;
    color: black;   
}

h5{
    color: black;
}

h6 {
    text-align: center;
    font-size: 1em;
    color: white;
}
/*h1----h6*/

p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p.justi{
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.wrapper .row-2 .col-3 .p {
    text-align: justify;
    color: black;
    font-size: 10px;
}

 
.wrapper .row-2 .col-3 .left{
   width: 133px;
    height: 134px;
    float: left;

}

.wrapper .row-3 .col-3 .p{
    background-color: #5769ff; 
    font-size: 10px;
         
}
.row-2 .col-3 .justi{
    text-align: right;
}

.wrapper .row-3 .col-4{
    
    font-size: 35px;
         
}

.wrapper .row-3 .col-4 .p{
    color: black;
}

.wrapper .row-4 .col-5 .agenor{
    padding-right: 2em;
    
}

.wrapper .row-4 .col-5 .godo{
    padding-right: 2em;   
}

.wrapper .row-4 .col-5-6 .rex{
    padding-right: 2em;
}

.wrapper .row-4 .col-5-6 .mila{
    padding-right: em; 
}

.wrapper .row-5 .col-6 .neve{
    padding-right: 4em;    
}

.wrapper .row-6 .col-7 .bingo{
    padding-right: 4em; 
}


.floc{
    width: 199px;
    height: 188px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


#dog2 {
    border-radius: 10%;
    width: 235px;
    height: 222px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;    
}
/*medias queries*/
/*modo tablet*/ 
@media only screen and (min-width: 480px){
div img{
    width: 100%;
    max-width: 250px;
}
/*colunas no tablet*/
.col-2, .col-3, 
.col-4, .col-5, .col-5-6,
.col-6, .col-7,
.col-8, .col-9 {
    margin-right: 0;
    padding: 0.5em;
    float: left;
}
.wrapper .row-4 .col-5{
    width: 44%;
    min-height: 585px;
}
.wrapper .row-4 .col-5-6{
    width: 44%;
    min-height: 585px;
}

.wrapper .row-5 .col-6 .neve{
    width: 245px;
    height: 296px;
}
.wrapper .row-6 .col-7 .bingo{
    width: 200px;
    height: 296px;
}
.wrapper .row-7 .col-8 .floc{
    float: right;
    width: 199px;
    height: 188px;
    margin-bottom: 20px;
    margin-right: 10px;
}

/*desktop*/
@media only screen and (min-width:768px){
    div img{
        width: 100%;
        /*max-width: 250px;*/
    } 
    

.col-2, .col-3,      
.col-2, .col-3,
.col-4, .col-5,
.col-6, .col-7,
.col-8, .col-9{
    margin-right: 0;
    padding: 0.5em;
    float: left;
}
.wrapper .row-4 .col-5{
    width: 20%;
}

.wrapper .row-4 .col-5-6{
    width: 20%;
}

.wrapper .row-2 .col-2{
    width: 44%;
}

.wrapper .row-2 .col-3{
    width: 44%;
} 
.row-5 .col-6{
    width: 68%;
}
.row-6 .col-7{
    width: 20%;
}

.row .col-2, .row-2 .col-3{
    width: 44%;
    float: left;
} 
.wrapper .row-6 .col-7 .bingo{
    width: 98%;    
}
.wrapper .row-5 .col-6, .wrapper .row-6 .col-7{
   min-height: 535px;
}
