body{
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    width: 97%;
    max-width: 1200px;
    margin: 0 auto;
    float: none;
    background-color: #29009c;
    text-align: center;

}
div img {
    width: 100%;
    /*max-width: 250px;*/
}

h1{
    color: white;
    font-size: 35px;
}

h3{
    color: black;
    font-size: 30px;
}

h4{
    text-align: left;
}
p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper .row-2 .col-3{
    background-color: #29009c;
    float: left;
}  

.wrapper .row-3 .col-4{
    background-color: #5769ff; 
    font-size: 35px;
         
}

.wrapper .row-3 .col-4 .p{
    color: black;
}

#dog2 {
    border-radius: 10%;
}

.wrapper .row-4 .col-5{
    background-color: #818fff;

}

.wrapper .row-5 .col-6{
    background-color: #bbc2fc;
}

.wrapper .row-6 .col-7{
    background-color: #b7d9ed;
}

.wrapper .row-7 .col-8{
    background-color: #212075;
}

.wrapper .row-9 .col-9{
    background-color: #1456ff;

}

h4{
    font-size: 35px;
    color: black;
}